[Unit]
Description=Kibana Service

[Service]
Type=simple
User=kibana
Group=kibana
ExecStart=/srv/kibana/bin/kibana serve --config /srv/kibana/config/kibana.yml  # location of your kibana
Restart=always

[Install]
WantedBy=multi-user.target